In [1]:
import anndata

In [2]:
adata = anndata.read_h5ad('../neurocovid_filt_BP.h5ad')

In [3]:
dir(anndata)

['AnnData',
 'ImplicitModificationWarning',
 'OldFormatWarning',
 'Raw',
 'WriteWarning',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_core',
 '_io',
 '_metadata',
 '_warnings',
 'compat',
 'concat',
 'logging',
 'read',
 'read_csv',
 'read_excel',
 'read_h5ad',
 'read_hdf',
 'read_loom',
 'read_mtx',
 'read_text',
 'read_umi_tools',
 'read_zarr',
 'utils']

In [8]:
adata.obs.head(20)

Empty DataFrame
Columns: []
Index: [AAACCTGAGTGGGCTA-1, AAACCTGAGTGTTAGA-1, AAACCTGGTCGCGTGT-1, AAACCTGGTCTCCACT-1, AAACCTGGTTTACTCT-1, AAACCTGTCTCCTATA-1, AAACCTGTCTGCAGTA-1, AAACGGGAGAGGGCTT-1, AAACGGGAGTGGTCCC-1, AAACGGGCACAACGTT-1, AAACGGGCACCTTGTC-1, AAACGGGCAGCTTCGG-1, AAACGGGGTCACCTAA-1, AAACGGGGTCCGAACC-1, AAACGGGGTCTCCATC-1, AAACGGGGTGTGAAAT-1, AAACGGGGTTAGTGGG-1, AAACGGGGTTGTGGCC-1, AAACGGGTCAGCTGGC-1, AAACGGGTCCTTGACC-1]

In [9]:
adata.obs_names

Index(['AAACCTGAGTGGGCTA-1', 'AAACCTGAGTGTTAGA-1', 'AAACCTGGTCGCGTGT-1',
       'AAACCTGGTCTCCACT-1', 'AAACCTGGTTTACTCT-1', 'AAACCTGTCTCCTATA-1',
       'AAACCTGTCTGCAGTA-1', 'AAACGGGAGAGGGCTT-1', 'AAACGGGAGTGGTCCC-1',
       'AAACGGGCACAACGTT-1',
       ...
       'TTTGTTGCACTGTTCC-31', 'TTTGTTGCAGCGTTGC-31', 'TTTGTTGCATAGTCGT-31',
       'TTTGTTGGTACCGTGC-31', 'TTTGTTGGTATTTCGG-31', 'TTTGTTGGTCACCTTC-31',
       'TTTGTTGGTCCACGCA-31', 'TTTGTTGGTTATGGTC-31', 'TTTGTTGTCGCGTGCA-31',
       'TTTGTTGTCTCATGCC-31'],
      dtype='object', length=84417)

In [10]:
adata.var_names

Index(['MIR1302-2HG', 'AL627309.1', 'AL627309.3', 'AL627309.4', 'AL669831.2',
       'AL669831.5', 'FAM87B', 'LINC00115', 'FAM41C', 'AL645608.3',
       ...
       'AL592183.1', 'AC007325.1', 'AC007325.4', 'AC007325.2', 'AL354822.1',
       'AC023491.2', 'AC004556.1', 'AC233755.2', 'AC233755.1', 'AC240274.1'],
      dtype='object', length=25674)

# Tutorial

I'm following the information that is provided in the anndata tutorial

In [11]:
adata

AnnData object with n_obs × n_vars = 84417 × 25674
    var: 'gene_ids', 'feature_types'

In [4]:
adata.X

<84417x25674 sparse matrix of type '<class 'numpy.float32'>'
	with 91200402 stored elements in Compressed Sparse Row format>

In [13]:
adata.obs_names

Index(['AAACCTGAGTGGGCTA-1', 'AAACCTGAGTGTTAGA-1', 'AAACCTGGTCGCGTGT-1',
       'AAACCTGGTCTCCACT-1', 'AAACCTGGTTTACTCT-1', 'AAACCTGTCTCCTATA-1',
       'AAACCTGTCTGCAGTA-1', 'AAACGGGAGAGGGCTT-1', 'AAACGGGAGTGGTCCC-1',
       'AAACGGGCACAACGTT-1',
       ...
       'TTTGTTGCACTGTTCC-31', 'TTTGTTGCAGCGTTGC-31', 'TTTGTTGCATAGTCGT-31',
       'TTTGTTGGTACCGTGC-31', 'TTTGTTGGTATTTCGG-31', 'TTTGTTGGTCACCTTC-31',
       'TTTGTTGGTCCACGCA-31', 'TTTGTTGGTTATGGTC-31', 'TTTGTTGTCGCGTGCA-31',
       'TTTGTTGTCTCATGCC-31'],
      dtype='object', length=84417)

In [19]:
adata.var

                    gene_ids    feature_types
MIR1302-2HG  ENSG00000243485  Gene Expression
AL627309.1   ENSG00000238009  Gene Expression
AL627309.3   ENSG00000239945  Gene Expression
AL627309.4   ENSG00000241599  Gene Expression
AL669831.2   ENSG00000229905  Gene Expression
...                      ...              ...
AC023491.2   ENSG00000278633  Gene Expression
AC004556.1   ENSG00000276345  Gene Expression
AC233755.2   ENSG00000277856  Gene Expression
AC233755.1   ENSG00000275063  Gene Expression
AC240274.1   ENSG00000271254  Gene Expression

[25674 rows x 2 columns]

In [20]:
adata.obs

Empty DataFrame
Columns: []
Index: [AAACCTGAGTGGGCTA-1, AAACCTGAGTGTTAGA-1, AAACCTGGTCGCGTGT-1, AAACCTGGTCTCCACT-1, AAACCTGGTTTACTCT-1, AAACCTGTCTCCTATA-1, AAACCTGTCTGCAGTA-1, AAACGGGAGAGGGCTT-1, AAACGGGAGTGGTCCC-1, AAACGGGCACAACGTT-1, AAACGGGCACCTTGTC-1, AAACGGGCAGCTTCGG-1, AAACGGGGTCACCTAA-1, AAACGGGGTCCGAACC-1, AAACGGGGTCTCCATC-1, AAACGGGGTGTGAAAT-1, AAACGGGGTTAGTGGG-1, AAACGGGGTTGTGGCC-1, AAACGGGTCAGCTGGC-1, AAACGGGTCCTTGACC-1, AAAGATGAGAGCCCAA-1, AAAGATGAGAGTCTGG-1, AAAGATGGTAGGACAC-1, AAAGATGGTCAGCTAT-1, AAAGATGGTTGTGGAG-1, AAAGATGGTTTAGCTG-1, AAAGATGTCAACGGCC-1, AAAGATGTCCAACCAA-1, AAAGATGTCCCTGACT-1, AAAGATGTCTTGAGGT-1, AAAGCAAAGGGTGTGT-1, AAAGCAAGTCTCAACA-1, AAAGCAAGTCTTCAAG-1, AAAGCAAGTGAGGGAG-1, AAAGCAAGTGCCTGGT-1, AAAGCAAGTTCCACGG-1, AAAGCAAGTTGAACTC-1, AAAGCAATCGGCGCAT-1, AAAGCAATCTGGTATG-1, AAAGTAGAGACTCGGA-1, AAAGTAGAGCAGACTG-1, AAAGTAGAGCCAGTTT-1, AAAGTAGAGTTGAGTA-1, AAAGTAGCAATCGGTT-1, AAAGTAGCATCTACGA-1, AAAGTAGCATCTCCCA-1, AAAGTAGCATTACGAC-1, AAAGTAGGTAGCAAAT-1, AAAGTAGGTATATGAG-1, AAAGTAGGTTTGGGCC-1, AAAGTAGTCAACACAC-1, AAAGTAGTCCGTTGTC-1, AAAGTAGTCTTCCTTC-1, AAATGCCAGTAGTGCG-1, AAATGCCAGTGCAAGC-1, AAATGCCAGTTGAGTA-1, AAATGCCCACCGTTGG-1, AAATGCCCAGACAAGC-1, AAATGCCCAGGTCGTC-1, AAATGCCCATCGGTTA-1, AAATGCCGTAGGACAC-1, AAATGCCGTCATACTG-1, AAATGCCGTCGCGGTT-1, AAATGCCTCCGCTGTT-1, AAATGCCTCGTAGGTT-1, AACACGTAGCAGGTCA-1, AACACGTAGGGATGGG-1, AACACGTCAAACAACA-1, AACACGTCAAGGTGTG-1, AACACGTCACAACTGT-1, AACACGTCACCGAAAG-1, AACACGTCACGGCCAT-1, AACACGTGTAGCTGCC-1, AACACGTGTGTTTGTG-1, AACACGTTCACAGGCC-1, AACACGTTCTGAGGGA-1, AACCATGAGACGCAAC-1, AACCATGAGCCCAGCT-1, AACCATGAGCGACGTA-1, AACCATGAGTAACCCT-1, AACCATGCAAAGCGGT-1, AACCATGCACACCGCA-1, AACCATGCAGAGCCAA-1, AACCATGGTCAAAGCG-1, AACCATGGTCCGTTAA-1, AACCATGGTCGGCTCA-1, AACCATGGTGACTCAT-1, AACCATGGTGCGATAG-1, AACCATGGTTCGTCTC-1, AACCATGTCTTAGCCC-1, AACCGCGCATCCGGGT-1, AACCGCGGTGGCGAAT-1, AACCGCGGTTCCACGG-1, AACCGCGGTTCGTGAT-1, AACCGCGTCAGGTTCA-1, AACCGCGTCTTGGGTA-1, AACGTTGAGGTGCACA-1, AACGTTGCACGGCGTT-1, AACGTTGCAGGTCCAC-1, AACGTTGGTCTAGCCG-1, ...]

[84417 rows x 0 columns]

In [23]:
adata.var

                    gene_ids    feature_types
MIR1302-2HG  ENSG00000243485  Gene Expression
AL627309.1   ENSG00000238009  Gene Expression
AL627309.3   ENSG00000239945  Gene Expression
AL627309.4   ENSG00000241599  Gene Expression
AL669831.2   ENSG00000229905  Gene Expression
...                      ...              ...
AC023491.2   ENSG00000278633  Gene Expression
AC004556.1   ENSG00000276345  Gene Expression
AC233755.2   ENSG00000277856  Gene Expression
AC233755.1   ENSG00000275063  Gene Expression
AC240274.1   ENSG00000271254  Gene Expression

[25674 rows x 2 columns]

In [24]:
adata.X

<84417x25674 sparse matrix of type '<class 'numpy.float32'>'
	with 91200402 stored elements in Compressed Sparse Row format>

In [30]:
a = adata.X[:5, :5]

In [33]:
adata.obs_names

Index(['AAACCTGAGTGGGCTA-1', 'AAACCTGAGTGTTAGA-1', 'AAACCTGGTCGCGTGT-1',
       'AAACCTGGTCTCCACT-1', 'AAACCTGGTTTACTCT-1', 'AAACCTGTCTCCTATA-1',
       'AAACCTGTCTGCAGTA-1', 'AAACGGGAGAGGGCTT-1', 'AAACGGGAGTGGTCCC-1',
       'AAACGGGCACAACGTT-1',
       ...
       'TTTGTTGCACTGTTCC-31', 'TTTGTTGCAGCGTTGC-31', 'TTTGTTGCATAGTCGT-31',
       'TTTGTTGGTACCGTGC-31', 'TTTGTTGGTATTTCGG-31', 'TTTGTTGGTCACCTTC-31',
       'TTTGTTGGTCCACGCA-31', 'TTTGTTGGTTATGGTC-31', 'TTTGTTGTCGCGTGCA-31',
       'TTTGTTGTCTCATGCC-31'],
      dtype='object', length=84417)